<div class="container px-12 px-sm-10">
 <div class="img-top">
  <center>
   <div class="col-sm-9">
    <h2 style="padding-top:30px;">
     <font face="serif" size="6" >淺地 成葵(Naruki Asaji)</font>
    </h2>
    <p>　私は、高校卒業後18歳で航空自衛官になり、約5年間在職しています。
       自衛官として勤務をしながも、プログラミングの学習を行っています。
       プログラミングを通じて、少しでも仕事や暮らしを簡単に便利に
       したいと思い学習を始めました。これからも、学び、成長し、航空機の整備員として
       培った考え方や知識を生かしてアプリケーション開発やWEBサイトの開発を行います。</p>
   </div>

   <div class="col-sm-9" style="padding-top:30px;">
    <h4 class="text-left">
     <font face="sans-serif" size="5" >プロフィール</font>
    </h4>
    <hr>
     <P>年齢：22歳</P>
     <p>DMM WEBCAMP PRO 卒業</p>

    <h4 class="text-left" style="padding-top:10px;">
     <font face="sans-serif" size="4" >経歴</font>
    </h4>
    <ul class="timeline-list">
     <li class="timeline-list-item">
      <p class=" date text-left">2017年 3月</p>
      <div class="content text-left">
       <h4>高校卒業後 航空自衛隊入隊</h4>
       <p>入隊から約３ヶ月間の教育訓練を受ける。</p>
       <hr>
      </div>
     </li>
     <li class="timeline-list-item">
      <p class="date text-left">2017年7月</p>
      <div class="content text-left">
       <h4>青森県 三沢基地配属</h4>
       <p>初部隊配属となり、基礎的な業務及び作業に従事</p>
       <hr>
      </div>
     </li>
     <li class="timeline-list-item">
      <p class="date text-left">2019年11月</p>
      <div class="content text-left">
       <h4>航空機整備士取得</h4>
       <p>戦闘機やヘリコプターなど、多くの種類の航空機の整備に従事</p>
       <hr>
      </div>
     </li>
     <li class="timeline-list-item">
      <p class="date text-left">2021年11月現在</p>
      <div class="content text-left">
       <h4>航空機の整備、修理</h4>
       <p>航空機の整備・修理等を数多く行い、多くの経験を積む。</p>
       <p>また、後輩の育成も行いながら日々の整備作業に努める。</p>
       <hr>
      </div>
     </li>
    </ul>

    <div>
     <h4 class="text-left">
      <font face="sans-serif" size="5" >制作実績</font>
     </h4>
     <hr>
     <div  class="col-sm-12">
      <ul>
       <div class="col-sm-12 row">
        <li type="circle">
         <h5 style="padding:10px;">PAPI</h5>
        </li>
         <p style="padding:10px;">航空機の写真投稿サイト(※本サイト)</p>
       </div>
      </ul>
      <p class="text-left">
       この航空機の写真投稿サイトは、写真と通じて多くの人に見てもらえるように地図やタグ機能、住所も情報として投稿
      できるように工夫しました。また、見た人と共感できるように、いいね機能やコメント機能を備えたことやユーザーが
      フォローできる機能も搭載しました。
      </p>
     </div>
    </div>

    <div style="padding-top:30px;">
     <h4 class="text-left">
      <font face="sans-serif" size="5" >スキル</font>
     </h4>
     <hr>
     <div class="row justify-content-around">
      <font face="sans-serif" size="4" >言語</font>
      <div>
       <p>HTML</p>
      </div>
      <div>
       <P>CSS</P>
      </div>
      <div>
       <p>Ruby</p>
      </div>
     </div>
     <hr>

     <div class="col-sm-12 row ">
      <font face="sans-serif" size="4">フレームワーク</font>
      <div class=" offset-1" style="padding-bottom:30px;">
       <p>Ruby on Rails</p>
      </div>
     </div>
    </div>
  </center>
 </div>
</div>