<div class="container px-5 px-sm-0">
 <div class="center">

  <center class="text-white">
   <div style="padding-top:100px;">
    <h1>ＰＡＰＩへようこそ！</h1>
   </div>

   <div style="padding-top:250px; padding-bottom:68px;">
    <font size="4" >
     <p>PAPIは、世界中の航空機の画像が集まるサイトです</p>
     <p>そして、様々航空機について見て、話すことができる機能を持ったサイトです。</p>
     <p>たくさんの人と航空機について語り合える・集まることができる目印として、</p>
     <span style="font-size:20px;">このＰＡＰＩがあります</span>
    </font>
   </div>
  </center>
 </div>
</div>