// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  background-image: image-url('2243382_s.jpg');
  height: 700px;
  background-size:  cover;

}